<b>Dear <%= @user.name %>,</b>

<p>

Thank you for signing up to an account with <%= link_to 'parlourgames.club',
 root_url %>

</p>
<p>
In order to continue playing, please confirm your email 
<%= link_to "by clicking this link", "http://www.parlourgames.club/user_confirmation?token=#{@user.confirmation_token}" %>
<br />
<br />
<b>OR</b> cut and paste this link into your browser
<%= "http://www.parlourgames.club/user_confirmation?token=#{@user.confirmation_token}" %>
 </p>
<p>
Happy playing,
<br />
<br />
Your game master.
</p>