@import '~bulma';
@import 'buefy/dist/buefy.css';
@import '@creativebulma/bulma-divider';

.is-space-between {
	justify-content: space-between;
}

.is-space-around {
	justify-content: space-around;
}

.is-flex-centre {
	justify-content: center;
}

.is-dark.is-light {
  background-color: grey !important;
}

a {
  color: black !important;
}

a:hover {
  color: $grey !important;
}

.tag.is-outlined {
	border: 1px solid $dark;
}


.card-pot {
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-stack {
  position: relative;
  width: 350px;
  max-width: 350px;
  height: 100%;
  overflow: visible;
}

.center-tile {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.vertical-tile {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.Cookie--base .Cookie__button {
  background-color: #363636 !important;
  color: white !important;
  border-radius: 4px !important;
}

.Cookie--base .Cookie__button:hover {
  background-color: grey !important;
  color: #363636 !important;
}

