.is-space-between {
	justify-content: space-between;
}

.is-space-around {
	justify-content: space-around;
}

.is-flex-centre {
	justify-content: center;
}

.is-dark.is-light {
  background-color: grey !important;
}